<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We are in the business of change</h2>
                <hr class="light">
                <p class="text-faded">We believe that data can be used to solve the most pressing problems of our times. Using evidence backed by research, our goal is to bridge the gap between research and policy implementation. We offer sustainable solutions for global development that are <strong> Effective</strong>, <strong>Practical</strong>, <strong>sustainable</strong> and, <strong>Scalable.</strong> </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
